<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Result</h2>

    <section class="example-section">
      <mat-progress-bar
        class="example-margin"
        [color]="primary"
        [mode]="determinate"
        [value]="value"
        [bufferValue]="bufferValue">
      </mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>
<form>
  <mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <mat-radio-group class="example-radio-group" >
        <p> 1- quel est votre saison favorite ? </p>
        <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
          {{season}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
<mat-radio-group class="example-radio-group" >
  <p> 1- quel est votre saison favorite ? </p>
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
  <br>
  <mat-radio-group class="example-radio-group" >
  <p> 2- quel est votre saison favorite ? </p>
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
  <mat-radio-group class="example-radio-group" >
  <p> 3- quel est votre saison favorite ? </p>
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
  <mat-radio-group class="example-radio-group" >
  <p> 4- quel est votre saison favorite ? </p>
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
  <mat-radio-group class="example-radio-group" >
  <p> 5- quel est votre saison favorite ? </p>
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
  <mat-radio-group class="example-radio-group" >
  <p> 6- quel est votre saison favorite ? </p>
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
  <mat-radio-group class="example-radio-group" >
  <p> 7- quel est votre saison favorite ? </p>
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
  <mat-radio-group class="example-radio-group" >
  <p> 8- quel est votre saison favorite ? </p>
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
  <mat-radio-group class="example-radio-group" >
  <p> 9- quel est votre saison favorite ? </p>
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>


</form>



