.example-radio-group {
  display: inline-flex;
  flex-direction: column;
  margin-top: 1%;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
form {
  width: 50%;
}
