<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <i class="fas fa-user"></i>
    </div>
    <mat-card-title>Mon Profil</mat-card-title>
    <mat-card-subtitle>Regarder / configurer  ici votre profil</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
  </mat-card-content>
</mat-card>


<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Jonas Boudet</mat-card-title>
    <mat-card-subtitle>17 ans / Liège</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      - Eleve de 6ème année, Athénée Jean-Jaques <br>
      - 16/20 de moyenne général

    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Mettre à jour </button>
    <button mat-button>Supprimer mon profil</button>
  </mat-card-actions>
</mat-card>

